


header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 0%;
    font-size: 30px; /* Adjust the font size */
    font-weight: bold;
}
/* public/css/app.css */

